body{
	background-image: url("3.jpg");
	background-size: cover;
	background-position: top;
	min-width: 750px;
}

#heading{
	text-align: center;
	color: red;
	position: relative;
}

button{
	position: absolute;
	right:20px;
	top: 10px;
	background-color: black;
	color: white;
	cursor: pointer;
}

i{
	cursor: pointer;
}



li{
	position: relative;
	color: white;
	font-size: 30px;
	border: 1px solid blue;
	margin-bottom: 10px;
}

#myul{
	padding-left: 0px;
	margin: auto;
	margin-top: 100px; 
	list-style-type: none;
	width: 50%; 
	max-height: 400px;
	overflow-y: scroll;
}

.number,.name,.remove{
	display: inline-block;
}

.name{
	cursor: pointer;
}

.remove{
	position: absolute;
	right: 10px;
	color: red;
	font-size: 25px;
	top: 5px;
	margin-left: 10px;
	border-left: 1px solid blue;
	padding-left: 10px;
}

.empty{
	color: blue;
	text-align: center;
	width: 50%;
	margin: auto;
	margin-top: 150px;
}

.number{
	margin-right: 30px;
	margin-left: 10px;
	border-right: 1px solid blue;
	padding-right: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
ul::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
ul {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}